body { margin:0; padding:0; font-family: 'Raleway', sans-serif;color: #444}

#main {
    width: 100%;
    clear:both;
    display: block;
    float: left;
   
}

section#head {
    width: 100%;
    height: 60%;
    float: left;
}

section#body {
    width: 70%;
    max-width: 700px;
    margin: 65% 15% 0 15%;    
    position: absolute;
}

#video-header {
    position: absolute;    
    width: 100%;
    height: 60%;
}

#above-header {
    position: absolute;    
    z-index: 2;
    width: 70%;
    height: 60%;
    background-color: rgba(0,0,0,.25);
    padding: 0 15%;
    overflow: hidden;
}

#logo-container {
    margin: 5% 0 0 0;
    width: 120px;
}

#motto { 
    width: 200px;
    height: 200px;
     color: rgba(0,0,0,.6);
}
#articles { margin: 24px 0;}
article {line-height: 26px; padding: 0 0 48px 0; margin: 48px 0 0 0;}
article:first-child { margin-top: 0;}

header h1 { margin:0; padding:0; font-size: 24px;}
header h2 { margin:0; padding:0; font-size: 16px;}

.article-moving { background-image: url('../img/reel.png'); background-repeat: no-repeat; padding-left: 160px;}
#article-stills { background-image: url('../img/reel.png'); background-repeat: no-repeat; background-position: top right; padding-right: 160px; text-align: right}

/* Gradient transparent - color - transparent */
		
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
}

p { color: #666}

.icon-left { float: left; width: 110px; background-color:#E2AD40; padding: 3%; color: white; margin: 0 3% 3% 0;}